td{
    background-color: rgb(219, 223, 172);
}
body{
    background-color:rgb(219, 238, 182)
}
a:visited{
    color:aqua;
}
a:active{
    color:brown;
}
a:hover{
    background-color:rgb(187, 187, 221);
}
.important{
    background-color:rgb(226, 77, 7);
}
#truely{
    background-color:rgb(128, 2, 34);
}
.services{
    background-color:rgb(145, 219, 8);
}
.features:hover{
    background-color:rgb(126, 139, 7);
}
